<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <br>
    <br>
    <h1>Tizimga yangi foydalanuvchi qo'shish</h1>
    <br>
    <form method="post" action="/register/">{% csrf_token %}

        <input type="text" name="i" value="{{student.ism}}">
        {% if student.bitiruvchi %}
        <input type="checkbox" name="b" checked>
        {% else %}
         <input type="checkbox" name="b">
        {% endif %}
        <input type="number" name="k_s" value="{{student.kitob_soni}}">


        <input type="text" name="login" placeholder="Login">
        <input type="password" name="parol" placeholder="Parol">
        <button type="submit">Sign up</button>
    </form>
</body>
</html>