<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <h1>Royhat</h1>
    <br>
    <br>
    <form method="get" action="/studentlar/">
        <input type="text" name="q_sozi">
        <button type="submit">Qidirish</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% for student in studentlar %}
    <h2 style="display:inline;">{{student.id}}. <a href="/student/{{student.id}}/">{{student}} </a></h2>
    <a href="/talaba_tas/{{student.id}}/"><button>O'chirish</button></a>
    <a href="/talaba_edit/{{student.id}}/"><button>O'zgartirish</button></a><br><br><br>
    {% endfor %}
    <br>
    <br>
    <form method="post" action="/studentlar/">{% csrf_token %}
        {{forma.as_p}}
        <button type="submit">Qo'shish</button>
    </form>



</body>
</html>